<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>change Password</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#F5F5F5] flex items-center justify-center min-h-screen">

  <div class="bg-white rounded-3xl shadow-lg flex flex-col md:flex-row items-center w-full max-w-4xl overflow-hidden">
    <!-- Left Section -->
    <div class="w-full md:w-1/2 p-10 text-center md:text-left">
      <h1 class="text-2xl font-extrabold text-black mb-4">Change Password </h1>
      <p class="text-gray-600 text-sm mb-6">Please enter password</p>

      <form id="myform" class="flex flex-col gap-4">
        <input type="password" placeholder="NewPassword" name="password" id="password" class="w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400">
        <div id="err1" class="text-red-500 text-sm"></div>
        
        <input type="password" placeholder="ConfirmPassword" name="Cpassword" id="Cpassword" class="w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400">
        <div id="err2" class="text-red-500 text-sm"></div>
        
        <button type="submit" class="bg-gray-800 text-white font-semibold py-2 rounded-md hover:bg-black transition duration-200">
          Change Password
        </button>
        <div id="successMsg" class="text-green-500 text-sm"></div>
        <div id="errMsg" class="text-red-500 text-sm"></div>
        <a href="/admin/login" class="text-gray-500 text-sm hover:underline">Go back to Login page</a>
      </form>
    </div>

    <!-- Right Section (Image) -->
    <div class="w-full md:w-1/2">
      <img src="/images/adminlogin.jpeg" alt="Jewelry" class="w-full h-full object-cover">
    </div>
  </div>

</body>

</html>

<script>
  document.getElementById("myform").addEventListener("submit",async(e)=>{
    e.preventDefault()
       
        document.getElementById('errMsg').textContent=''
        document.getElementById('successMsg').textContent=''

    let password=document.getElementById("password").value.trim()
    let Cpassword=document.getElementById("Cpassword").value.trim()

    let isvalid=true

    let passwordRegex=/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/
    if(password===''){
      document.getElementById("err1").textContent='password required'
      isvalid=false
    } else if(!passwordRegex.test(password)){
      document.getElementById('err1').textContent='password contain alphabets,numbers and special characters'
      isvalid=false
    }else if(password.length< 8){
      document.getElementById('err1').textContent='password should contain atleast 8 characters'
      isvalid=false
    }

    if(password!==Cpassword){
      document.getElementById("err2").textContent='password does not match'
      isvalid=false
    }
    if(!isvalid) return
    try {
      const res=await fetch('/admin/changePassword',{
      method:'POST',
      headers:{'Content-Type':'application/json'},
      credentials:'same-origin',
      body:JSON.stringify({password})
    })
    const result=await res.json()
    if(result.success){
      document.getElementById('successMsg').textContent=result.message
      window.location.href=result.redirectUrl
      document.getElementById('myform').reset()
    }else{
      document.getElementById('errMsg').textContent=result.message
    }
      
    } catch (error) {
      console.error(error)
      document.getElementById('errMsg').textContent='server error'
      
    }

    
  })
</script>