<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - ORA</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>

</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white rounded-2xl shadow-xl p-10 w-full max-w-md">
        <!-- Logo -->
        <h1 class="text-3xl font-script text-yellow-300 text-center mb-2">ORA</h1>
        <!-- Admin Login Title -->
        <h2 class="text-xl font-semibold text-center mb-6">Admin Login</h2>

        <!-- Login Form -->
        <form id="myform" class="space-y-4">
            <div>
                <input type="email" name="email" placeholder="Email Address" id="email"
                    class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-yellow-300"
                    >
                    

            </div>
            <div class="password-wrapper relative">

                <input type="password" name="password" placeholder="Password" id="password" class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-yellow-300" >
                  <i
        id="togglePassword"
        class="fa-solid fa-eye absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-500"
    ></i>
            </div>
            <div class="text-right">
                <a href="/admin/forget-password" class="text-sm text-gray-500 hover:text-yellow-400">Forget Password?</a>
            </div>
            <button type="submit"
                class="w-full bg-black text-white font-semibold py-2 rounded-lg hover:bg-gray-800 transition-colors">
                Login
            </button>
            
        </form>
    </div>

</body>

</html> 
<script>
    const password = document.getElementById("password");
const toggle = document.getElementById("togglePassword");

toggle.addEventListener("click", () => {
    const isHidden = password.type === "password";

    password.type = isHidden ? "text" : "password";
    toggle.classList.toggle("fa-eye");
    toggle.classList.toggle("fa-eye-slash");
});

    document.getElementById("myform").addEventListener("submit",async(e)=>{
        e.preventDefault()
       

        let email=document.getElementById('email').value.trim()
        let password=document.getElementById('password').value.trim()

        let isvalid=true

        let emailRegex=/^[^\s@]+@[^\s@]+\.[^\s@]+$/
        if(email===""){
            Swal.fire({icon:'error',
                text:'Email required',
                timer:2000,
                showConfirmButton:false
               })
            isvalid =false
        }else if(!emailRegex.test(email)){
            Swal.fire({icon:'error',
                text:'Invalid email',
                timer:2000,
                showConfirmButton:false
               })
            isvalid=false
        }

        let passwordRegex=/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/
        if(password===''){
            Swal.fire({icon:'error',
                text:'password required',
                timer:2000,
                showConfirmButton:false
               })
            isvalid=false
        }else if(password.length<8){
            Swal.fire({icon:'error',
                text:'Password should contain atleast 8 characters',
                timer:2000,
                showConfirmButton:false
               })
            isvalid=false
        }else if(!passwordRegex.test(password)){
            Swal.fire({icon:'error',
                text:'Password shoul contain alphabets,numbers and special characters',
                timer:2000,
                showConfirmButton:false
               })
            isvalid=false
        }
        if(!isvalid) return

        try {
            const res=await fetch('/admin/login',{
                method:'POST',
                headers:{'Content-Type':'application/json'},
                credentials:'include',
                body:JSON.stringify({email,password})
            })
            const result=await res.json()
            if(result.success){
                 await Swal.fire({icon:'success',
                text:result.message,
                showConfirmButton:true,
                allowOutsideClick: false
            })
            
            window.location.href=result.redirectUrl
            document.getElementById('myform').reset()
           
                
            }else{
               Swal.fire({icon:'error',
                text:result.message,
                timer:2000,
                showConfirmButton:false
               })
            }
        } catch (error) {
            console.error(error)
            Swal.fire({icon:'error',
                text:'Internal server error',
                timer:2000,
                showConfirmButton:false
               })
        }
    })
</script>
                    






                