
.badge {
  background-color: red;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge:empty {
  display: none;
}
