<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>change Password</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-[#F5F5F5] flex items-center justify-center min-h-screen">

  <div class="bg-white rounded-3xl shadow-lg flex flex-col md:flex-row items-center w-full max-w-4xl overflow-hidden">
    <!-- Left Section -->
    <div class="w-full md:w-1/2 p-10 text-center md:text-left">
      <h1 class="text-2xl font-extrabold text-black mb-4">Change Password </h1>
      <p class="text-gray-600 text-sm mb-6">Please enter password</p>

      <form id="myform" class="flex flex-col gap-4">
        <input type="password" placeholder="NewPassword" name="password" id="password"
          class="w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400">


        <input type="password" placeholder="ConfirmPassword" name="Cpassword" id="Cpassword"
          class="w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400">


        <button type="submit"
          class="bg-gray-800 text-white font-semibold py-2 rounded-md hover:bg-black transition duration-200">
          Change Password
        </button>

        <a href="/user/login" class="text-gray-500 text-sm hover:underline">Go back to Login page</a>
      </form>
    </div>

    <!-- Right Section (Image) -->
    <div class="w-full md:w-1/2">
      <img src="/images/login.jpeg" alt="Jewelry" class="w-full h-full object-cover">
    </div>
  </div>

</body>

</html>

<script>
  document.getElementById("myform").addEventListener("submit", async (e) => {
    e.preventDefault()



    let password = document.getElementById("password").value.trim()
    let Cpassword = document.getElementById("Cpassword").value.trim()

    let isvalid = true

    let passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
    if (password === '') {
      Swal.fire({
        icon: 'error',
        text: 'Password required',
        timer: 2000,
        showConfirmButton: false
      })
      isvalid = false
    } else if (!passwordRegex.test(password)) {
      Swal.fire({
        icon: 'error',
        text: 'Password should contain alphabets,numbers and special characters',
        timer: 2000,
        showConfirmButton: false
      })
      isvalid = false
    } else if (password.length < 8) {
      Swal.fire({
        icon: 'error',
        text: 'Password should contain atleast 8 charcters',
        timer: 2000,
        showConfirmButton: false
      })
      isvalid = false
    }

    if (password !== Cpassword) {
      Swal.fire({
        icon: 'error',
        text: 'password do not match',
        timer: 2000,
        showConfirmButton: false
      })
      isvalid = false
    }
    if (!isvalid) return
    try {
      const res = await fetch('/user/change-password', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        credentials: 'same-origin',
        body: JSON.stringify({ password })
      })
      const result = await res.json()
      if (result.success) {
        await Swal.fire({
          icon: 'success',
          text: result.message,
          timer: 2000,
          showConfirmButton: false
        })
        window.location.href = result.redirectUrl
        document.getElementById('myform').reset()
      } else {
        Swal.fire({
          icon: 'error',
          text: result.message,
          timer: 2000,
          showConfirmButton: false
        })
      }

    } catch (error) {
      console.error(error)
      Swal.fire({
        icon: 'error',
        text: 'Internal server error',
        timer: 2000,
        showConfirmButton: false
      })

    }


  })
</script>