<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-[#F5F5F5] flex items-center justify-center min-h-screen">

  <div class="bg-white rounded-2xl shadow-lg w-full max-w-md p-8">
    <h1 class="text-2xl font-bold text-gray-900 mb-2 text-center">
      Forgot Password?
    </h1>
    <p class="text-gray-500 text-sm text-center mb-6">
      Enter your registered email address
    </p>

    <form class="flex flex-col gap-4" id="myform">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email address"
        class="w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400"
      />

      <button
        type="submit"
        class="bg-gray-800 text-white font-semibold py-2 rounded-md hover:bg-black transition duration-200"
      >
        Send OTP
      </button>

      <div class="text-center mt-2">
        <a href="/user/profile/changepassword" class="text-gray-500 text-sm hover:underline">
          Go Back
        </a>
      </div>
    </form>
  </div>

</body>
</html>
<script>

  document.getElementById('myform').addEventListener('submit', async (e) => {
    e.preventDefault()



    let email = document.getElementById('email').value.trim()

    let isvalid = true

    let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
    if (email === '') {
      Swal.fire({
        icon: 'error',
        text: 'Please enter your registerd email',
        timer: 2000,
        showConfirmButton: false
      })
      isvalid = false
    } else if (!emailRegex.test(email)) {
      Swal.fire({
        icon: 'error',
        text: 'Invalid email',
        timer: 2000,
        showConfirmButton: false
      })
      isvalid = false
    }
    if (!isvalid)
      return

    try {
      const res = await fetch('/user/profile/forget-password', {
        method: "POST",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email })
      })

      const result = await res.json()
      if (result.success) {
        await Swal.fire({
          icon: 'success',
          text: result.message,
          timer: 2000,
          showConfirmButton: false
        })
        window.location.href = result.redirectUrl
        document.getElementById('myform').reset()
      } else {
        Swal.fire({
          icon: 'error',
          text: result.message,
          timer: 2000,
          showConfirmButton: false
        })
      }

    } catch (error) {
      console.error(error)
      Swal.fire({
        icon: 'error',
        text: 'Internal server error',
        timer: 2000,
        showConfirmButton: false
      })

    }


  })
</script>